html,
body {
    background-color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 500px;
}

#mainImage {
    width: 100%;
    max-width: 200px;
    transition: all 0.3s ease;
}

h1 {
    font-size: 5vw;
    color: #68495b;
    margin: 20px 0;
    transition: all 0.3s ease;
}

button {
    font-size: 4vw;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
    transition: all 0.3s ease;
}

#yes {
    background-color: #d4818e;
    color: white;
}

#no {
    background-color: #6784b1;
    color: white;
    position: relative;
}

.none{
    visibility: hidden;
    height: 0;
}

@media (min-width: 768px) {
    body {
        display: block;
    }
    
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        max-width: none;
    }

    #mainImage {
        width: 200px;
    }

    h1 {
        font-size: 28px;
        margin: 20px 0;
    }

    button {
        font-size: 18px;
    }
}